/* Fixed sidenav, full height */
.sidenav {
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #fae057;
}


/* Add an active class to the active dropdown button */
.active {
    background-color: #4c674c;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    font-size: inherit;
    font-weight: 300;

}

.dropdown-container a {
    white-space: unset;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    visibility: visible;
    float: right;
    padding-right: 8px;
}

.openbtn {
    font-weight: 600;
    visibility: hidden;
    float: left;
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: #695753;
    padding: 10px 15px;
    border: none;
}

.sidenav .closebtn {
    position: relative;
    top: 0;
    left: 150px;
    font-size: 36px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .openbtn {
        visibility: visible;
    }
}

